.container {
  background: $primary-color;
  list-style: none;
  min-width: 10rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid lighten($color: $secondary-color, $amount: 70);
  align-items: flex-start;

  li {
    padding: 1rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    a {
      font-size: 14px;
    }

    &:hover a {
      color: $highlight-color;
    }
  }
}
