.container {
  background: $secondary-color;

  width: 100%;
  height: 200px;
  border-top: 1px solid #eaeaea;

  display: flex;
  flex-direction: row;
}

.sections {
  flex: 1;
  color: set-text-color($secondary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
  font-size: 14px;
  div {
    margin: 5px;
  }
}