.container {
  position: fixed;
  z-index: 2;
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@mixin navItem {
  @include flexCenter(row);
  height: 100%;
  text-align: center;
}

.navLogo {
  font-weight: bold;
  margin-right: 2rem;;
}

.navCategories {
  cursor: pointer;
  display: none;
}

.navSearch {
  flex-grow: 1;
  display: none;
}

.navCart {
  display: none;
}

.navLogin {
  display: none;
}

.navSignup {
  display: none;
}

.navCategories:hover > .catMenu {
  display: block;
  position: absolute;
  top: 4rem;
  left: 6rem;
}

.catMenu {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  background: $primary-color;
  z-index: 1;
  &.open {
    visibility: visible;
  }
}

.menuNav {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100vh;
  transform: translateX(-100%);
  background: $primary-color;

  padding-left: 1rem;

  @include transition-ease;

  &.open {
    transform: translateX(0%);
  }
}

.grayOverlay {
  background: rgb(0 0 0 / 20%);
  position: absolute;
  left: 60%;
  top: 0;
  width: 40%;
  height: 100vh;
  z-index: 2;
  transform: translateX(100%);
  @include transition-ease;
  
  &.open {
    transform: translateX(0%);
  }
}


@include media-md {
  .menuBtn {
    visibility: hidden;
  }

  .container {
    justify-content: stretch;
  }

  .navCategories {
    @include navItem();
  }

  .navSearch {
    @include navItem();
    height: 46px;
    margin: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 1px solid darken($color: $primary-color, $amount: 80);
    background: darken($color: $primary-color, $amount: 5);
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding-left: 1rem;
  }

  .search {
    flex: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 0;
    background: darken($color: $primary-color, $amount: 5);
    &:focus {outline:none!important;}
  }

  .navCart {
    @include navItem();
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navLogin {
    @include navItem();
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .navSignup {
    @include navItem();
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}



.menuBtn {
  position: absolute;
  left: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  z-index: 10;
  @include transition-ease;

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: set-text-color($primary-color);
    @include transition-ease;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }

    &.open {
      transform: translateX(800%) rotate(720deg);

      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}